.app-root{
}

ul{

  list-style: none;
  list-style-type: none;
}
ul li{

  list-style: none;
  list-style-type: none;
}

.font_color_primary{
    color: black;
}
.font_color_secondary{
    color: white;
}