.book_root{
    width: 100%;
}

.book_main{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 85%;
    padding-top: 3%;
}
.book_image{
    width: 50%;
}
.book_heading{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 5%;
}
.book_form{
    width: 50%;
    padding: 2em;
}
.book_form_container{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.4em;
    background-image: linear-gradient(268.5deg, #ffabbc1a -0.06%, #a4b3ff1a 97.65%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 4em;
    color: #ffffff !important;
}

.book_input{
    margin: 1em !important;
    width: 100% !important;
}

.book_content{
    line-height: 1.3;
    font-size: 1.2em;
    margin-bottom: 2%;
}

.book_email{
    color: #265077;
}